{% extends "layout.html"%}
{% block body %}
<h1>About Page</h1>
<div>
Welcome to TransAdvisor - the website for trans people to review their healthcare and search for trans-friendly healthcare providers. GPs, sexual health services, mental health services and other healthcare providers can make accessing health care easier or harder depending on their attitude towards and knowledge and experience of trans issues. Accessing health care can be intimidating if you don’t know how your gender presentation or identity will be received by your caregiver - TransAdvisor aims to help trans people access friendly and inclusive healthcare and alert other trans people to healthcare providers and institutions that might make them feel unwelcome and unsafe.
</div>
{% endblock body %}
